/* src/components/Footer.css */

.footer {
    background-color: #141414; /* Footer background color */
    color: white; /* Text color */
    padding: 20px; /* Padding for the footer */
    text-align: center; /* Center the text */
  }
  
  .footer-email-container {
    margin-bottom: 20px; /* Space below the email container */
  }
  
  .footer-title {
    margin-bottom: 10px; /* Space below the title */
  }
  
  .footer-email-input {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .email-input {
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    margin-right: 10px;
    width: 300px; 
  }
  
  .get-started-button {
    background-color: #e7000f;
    color: rgb(255, 241, 241); 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    height: 50px;

  }
  
  .get-started-button:hover {
    background-color: #f40612; 
  }
  
  .footer-questions {
    margin: 15px 70px; 
    text-align: left; 
  }
  
  .footer-links {
    padding: 30px;
    margin: 15px 70px; 
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
  }
  
  .footer-column {
    margin: 0 20px; 
  }
  
  .footer-language {
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 80px; 
    gap: 20px;


  }
  
  @media (max-width: 768px) {
    .footer-email-input {
      flex-direction: column; 
    }
  
    .email-input {
      width: 100%; 
      margin-bottom: 10px; 
    }
  
    .footer-links {
      flex-direction: column; 
      align-items: center; 
    }
  }
  .header-language-selector {
    margin-right: 10px;
  }
  
  .header-language-selector select {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
  }