/* MovieCard.css */
.movie-card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-title {
    margin: 10px 0;
    font-size: 1.2em;
    color: white;
  }
  
  .movie-description {
    font-size: 0.9em;
    color: #b3b3b3;
  }
  