.row {
  color: #fff;
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
}

.row-poster {
  max-height: 200px;
  object-fit: cover; /* Change from contain to cover */
  margin-right: 10px;
  transition: transform 0.2s;
  border-radius: 5px; /* Optional: Add rounded corners */
}

.row-poster:last-child {
  margin-right: 0; /* Remove margin on the last poster */
}

.row-poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}

/* Hide scrollbar for a cleaner look */
.row-posters::-webkit-scrollbar {
  display: none;
}
